/OpenGG Test/nbproject/private/
/OpenGG Project/nbproject/private/
/OpenGG Project/build/
/OpenGG Test/build/
/OpenGG Project/dist/
/OpenGG Test/dist/OpenGG_Test.jar
/OpenGG Test/dist/lib/
/OpenGG Test/dist/natives/
/cloc-1.70.exe
/OpenGG Test/dist/